# Dependências do Node.js (essencial ignorar)
/node_modules

# Arquivos gerados pelo build do Electron Forge (essencial ignorar)
/out

#Serviço 
/service-account.json

# Arquivos de log do npm e yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de variáveis de ambiente locais (segurança)
.env.local
.env